#
# CMakeLists.txt
#
$headerBlock
# CMake build file for $projectName.

cmake_minimum_required(VERSION 2.8)

project($projectId)

include(jace/Prerequisites.cmake)

add_subdirectory(jace)

include_directories(include "proxies/include" "jace/include"
  "${JAVA_INCLUDE_PATH}" "${JAVA_INCLUDE_PATH2}" "${Boost_INCLUDE_DIR}")

file(GLOB_RECURSE PROJECT_SRC "proxies/source/*.cpp")

add_library($projectId SHARED ${PROJECT_SRC})

target_link_libraries($projectId jace)

if(CMAKE_COMPILER_IS_GNUCXX)
  set_target_properties($projectId PROPERTIES
    COMPILE_FLAGS "-fpermissive")
else(CMAKE_COMPILER_IS_GNUCXX)
  set_target_properties($projectId PROPERTIES
    DEFINE_SYMBOL JACE_PROXY_EXPORTS)
endif(CMAKE_COMPILER_IS_GNUCXX)

target_link_libraries($projectId jace)
#foreach ($sourceFile in $sourceFiles)

#set ($execName = $q.simpleName($sourceFile))
#set ($sourceName = $sourceFile.getName())
add_executable($execName source/$sourceName)
target_link_libraries($execName $projectId jace "${JAVA_JVM_LIBRARY}")
#end##foreach $sourceFile
